<mat-tab-group>
    <mat-tab label="User Management"> 
      <div>  <app-user-management ></app-user-management> </div>
    </mat-tab>
    <mat-tab label="Game Management"> 
      <div>  <app-game-management ></app-game-management> </div>
    </mat-tab>
    <mat-tab label="User Game Association"> 
      <div> <app-user-xgame-association></app-user-xgame-association> </div>
    </mat-tab>
    <mat-tab label="Game Modification"> 
      <div>  <app-game-modification></app-game-modification> </div>
    </mat-tab>
  </mat-tab-group>
