
<table
  mat-table
  [dataSource]="dataSource"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  <ng-container
    matColumnDef="{{column}}"
    *ngFor="let column of columnsToDisplay"
  >
    <th mat-header-cell *matHeaderCellDef>{{column}}</th>
    <td mat-cell *matCellDef="let user">{{user[column]}}</td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let user">
        <button
        mat-icon-button
        aria-label="expand row"
        (click)="(expandedUser = expandedUser === user ? null : user ); $event.stopPropagation()"
      >
      <mat-icon *ngIf="expandedUser !== user"
          >keyboard_arrow_down</mat-icon
        >
        <mat-icon *ngIf="expandedUser === user"
          >keyboard_arrow_up</mat-icon
        >
        </button>
        </td>
        </ng-container>


        <ng-container matColumnDef="expandedDetail">
            <td
              mat-cell
              *matCellDef="let user"
              [attr.colspan]="columnsToDisplayWithExpand.length"
            >
              <div
                class="example-element-detail"
                [@userDetailExpand]="user == expandedUser ? 'expanded' : 'collapsed'"
              >
                <div class="example-element-description">
                  <div class="inputContainer">
                  <div><input placeholder="change username" /></div>
                  <div><input placeholder="change nickname" /></div>
                  <div><input placeholder="change tiktok" /></div>
                  <div><input placeholder="change tiktokName" /></div>
                  <div><input placeholder="change deleted" /></div>
                  <button>submit</button>
                  </div>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
          <tr
            mat-row
            *matRowDef="let element; columns: columnsToDisplayWithExpand;"
            class="example-element-row"
            [class.example-expanded-row]="expandedUser === element"
            (click)="expandedUser = expandedUser === element ? null : element"
          ></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: ['expandedDetail']"
            class="example-detail-row"
          ></tr>
</table>    

